modules = ["python-3.12"]
run = "coverage run -m pytest -v && coverage report -m && pylint ."

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "coverage run -m pytest -v && coverage report -m && pylint ."]
